<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="noindex, nofollow">

		<title>ImgReader</title>

        <link href="../css/app-reader.min.css" rel="stylesheet" type="text/css">
        <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
        <link rel="icon" href="../favicon.ico" type="image/x-icon">
	</head>
	<body>
        <button id="goTopBtn" title="Go to top">Top</button>
        <div class="preloader" id="preloader">
            <div class="cssload-container">
                <div class="cssload-whirlpool"></div>
            </div>
        </div>
		<nav class="nav" tabindex="-1" onclick="this.focus()">
			<div id="menunav" class="container">
				<a id="backlink" class="pagename current" href="../" rel="nofollow">ImgReader</a>
                <a href="#" id="about">About</a>
			</div>
		</nav>
		<button class="btn-close btn btn-sm">×</button>
        <div class="container">
            <div id="error"></div>
            <div id="data-content" class="hero">
                <table class="table">
                    <tbody>
                        <tr>
                            <td id="content-cover" class="mobile-hide" rowspan="6" width="15%"></td>
                            <td><b>Title:</b> <span id="content-title">-</span></td>
                        </tr>
                        <tr id="tb-original" style="display: none;">
                            <td><b>Original:</b> <span id="content-original">-</span></td>
                        </tr>
                        <tr id="tb-genre" style="display: none;">
                            <td><b>Genre:</b> <span id="content-genre">-</span></td>
                        </tr>
                        <tr id="tb-author" style="display: none;">
                            <td><b>Author:</b> <span id="content-author">-</span></td>
                        </tr>
                        <tr id="tb-chapter" style="display: none;">
                            <td><b>Chapter:</b> <span id="content-chapter">-</span></td>
                        </tr>
                        <tr>
                            <td><b>Files:</b> <span id="content-files">-</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="content-description"></div>
            <div class="row">
                <div class="col c12">
                    <p align="center" id="content-images"></p>
                </div>
            </div>
            <hr>
            <p align="center">Copyright @ <span id="copyrightyear"></span> ImgReader. All rights reserved.</p>
        </div>
        <script>var a2a_config=a2a_config||{};a2a_config.onclick=1;</script>
        <script src="../js/app-reader.js"></script>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154589040-1"></script>
        <script>function gtag(){dataLayer.push(arguments)}window.dataLayer=window.dataLayer||[],gtag("js",new Date),gtag("config","UA-154589040-1");</script>
	</body>
</html>